* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.aboutcontainer {
  background: linear-gradient(to bottom, #316c40, #ed624e);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70dvh;
}
/* responsivenes */
@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;
  }
  a {
    font-size: 28px;
    padding: 5px;
  }
  .aboutcontainer {
    flex-direction: column-reverse;
    text-align: center;
    gap: 0.5rem;
    padding: 20px;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 70dvw;
  }
  img {
    height: 35vh;
    width: 80%;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
