* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contactcontainer {
  background: linear-gradient(to bottom, #368c5b, rgba(96, 10, 105, 0.679));
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80dvh;
}
/* responsivenes */
@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;
  }
  a {
    font-size: 28px;
    padding: 5px;
  }
  .contactcontainer {
    flex-direction: column-reverse;
    text-align: center;
    gap: 0.5rem;
    padding: 20px;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 70dvw;
  }
  img {
    height: 35vh;
    width: 80%;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
