* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.servicecontainer {
  background: linear-gradient(to top, #500073, #f14a00);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80dvh;
}
/* responsivenes */
@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
  a {
    font-size: 18px;
    padding: 5px;
  }
  .servicecontainer {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 70dvw;
  }
  img {
    height: 40vh;
    width: 60%;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
